<div class="event">
    <div class="content">
        <div class="summary">
            <a><%= message.user.username %></a> <strong> Wrote : <%= message.body %></strong>
        </div>
    </div>
</div>
